body{
    font-family: Poppins;
}
#formDiv{
    width: 50%;
}

.login-img,.login-col{
    height: 100vh;
    position: relative;
    padding-left: 0px !important;
}

#login-image{
    width: 100%;
    background-color: #f8f8f8;
    height: 100%;
}

.position-absolute {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.login-img p {
    padding-top: 200px;
}

.login-img h3 {
    padding-top: 150px;
}

#formDiv{
    position: absolute;
    top: 28%;
    left: 21%;
}

.text-img { 
    position: relative;
 }
/* .text-img input { border:none; background-color:#fff; display:block; width: 100%; box-sizing: border-box } */
.text-img img {
     position: absolute;
     top: 44px;
     right: 11px;
     width: 6%
    }

#email,#pwd{
    padding: 19px 11px;
    border-color: #ECECEC;
    border-radius: 5px;
}

#email,#pwd:focus{
    outline: none;
}
.login-text{
    font-weight: bold;
    padding-bottom: 11px
}

.show-pwd{
    margin-left: 1.4rem;
}

.showPwdText{
    font-size: 14px;
    color: #9c9c9c;
}

.fgt-pwd{
    text-align: right;
    font-size: 14px;
    color: #9c9c9c;
}
.login-btn{
    font-size: 14px;
    border-radius: 5px;
    padding: 8px 46px;
    height: 50px;
    position: relative;
    top: 10px;
    /* left: 25%; */
    background-color: #1A74A1 !important;
    cursor: pointer;
    color: #fff;
}

.login-btn:hover{
    color: #fff;
}