<html>
<head>
    {% load static %}
    <title>Disease Extraction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'home' %}" style="position: relative;left: 80px;color: white;">Disease Extraction</a>
</nav>
<div class="container-fluid" style="position: relative;top: 25px;">
        <div class="row">
            <div class="col-md-12" style="position: relative;left: 80px;">
                <form action="{% url 'home' %}" class="form-inline" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="files" class="form-control">
                </div>
                <div class="form-group ml-3">
                    <input type="text" name="text" class="form-control" placeholder="New Keyword(optional)">
              </div>
                <div class="form-group">
                    <button class="btn btn-primary ml-5" type="submit">Upload</button>
                </div>
              </form>
            </div>
        </div>
        <button class="btn btn-primary" style="position: relative;left: 80px;">
            <a href="media/{{filename}}" target="_blank" style="color: #f7f7f9;">Check PDF.......</a>
        </button>

        <div class="row" style="position: relative;top: 22px;bottom: 22px;">
<!--          <div class="col-md-6">-->
<!--          <object data="media/{{filename}}" type="application/pdf" style="width: 100%;height: 500px;">-->
<!--            <p>Alternative text - include a link <a href="media/{{filename}}">to the PDF!</a></p>-->
<!--          </object>-->
<!--          </div>-->
          <div class="col-md-12" style="position: relative;bottom: 15px;">
<!--                <ul class="nav nav-pills">-->
<!--                  <li class="nav-item">-->
<!--                    <a class="nav-link active" data-toggle="pill" href="#home">TEXT</a>-->
<!--                  </li>-->
<!--                </ul>-->
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane container active" id="home">

                    <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Page No</th>
                            <th>Date of service</th>
                            <th>Disease</th>
                            <th>Code</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for i in D_list %}
                          <tr>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
                <button class="btn btn-primary" style="cursor:pointer;position: relative;left: 80px;" onclick="exportTableToCSV('table.csv')">ExportTo CSV</button>
                </div>
        </div>
    </div>
</div>
</body>
</html>