<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disease Extraction</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 login-img">
				<h3 class="position-absolute">Disease Extraction</h3>
				<p class="position-absolute">Mauris imperdiet orci dapibus, commodo libero nec, interdum tortor. Morbi in nibh faucibus, iaculis</p>
                <img src="{% static 'img/illustration-bg.png' %}" alt="Login-bg" id="login-image">
            </div>
            <div class="col-md-6 login-col">
                <form method="post" id="formDiv">
                    {% csrf_token %}
                    <h5 class="login-text text-center">LOG IN</h5>
                    <div class="form-group text-img">
                        <label for="email" id="email-label">Email</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter Username">
                        <img src="{% static 'img/username.svg' %}" alt="email-img" id="email-image">
                    </div>
                    <div class="form-group mt-4 text-img">
                        <label for="pwd" id="pwd-label">Password</label>
                        <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter Password">
                        <img src="{% static 'img/key.svg' %}" alt="pwd-img" id="pwd-image">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn  login-btn">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>